<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/layout">
<head>
<meta charset="UTF-8" />
<title>创建配置</title>
</head>
<body>

	<div layout:fragment="content">

		<div class="page-header">
			<h2>创建配置</h2>
		</div>

		<div th:if="${error != null}" th:text="${error}"
			class="alert alert-danger" role="alert">...</div>


		<form th:action="@{'/config/create/' + ${app.name} + '/' + ${env.name}}" th:object="${request}" method="post"
			class="form-horizontal">
			
			<div class="form-group">
				<div class="col-md-2 control-label">
					<label>应用</label>
				</div>
				<div class="col-md-5 control-label" style="text-align: left;">
					<label th:text="${app.name}">...</label>
					<input th:field="*{appId}" type="hidden" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-2 control-label">
					<label>环境</label>
				</div>
				<div class="col-md-5 control-label" style="text-align: left;">
					<label th:text="${env.name}">...</label>
					<input th:field="*{envId}" type="hidden" class="form-control" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-2 control-label">
					<label>名称</label>
				</div>
				<div class="col-md-5">
					<input th:field="*{name}" type="text" class="form-control" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-2 control-label">
					<label>配置</label>
				</div>
				<div class="col-md-5">
					<textarea th:field="*{value}" class="form-control"></textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-2 control-label">
					<button class="btn btn-primary" type="submit">创建</button>
				</div>
			</div>

		</form>

	</div>

</body>
</html>