<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/layout">
<head>
<meta charset="UTF-8" />
<title>修改密码</title>
</head>
<body>

	<div layout:fragment="content">

		<div class="page-header">
			<h2>修改密码</h2>
		</div>

		<div th:if="${error != null}" th:text="${error}"
			class="alert alert-danger" role="alert">...</div>

		<form th:if="${user != null}"
			th:action="@{'/user/modifyPassword/' + ${user.id}}"
			th:object="${request}" method="post" class="form-horizontal">

			<input th:field="*{userId}" type="hidden" />

			<div class="form-group">
				<div class="col-md-2 control-label">
					<label>用户名</label>
				</div>
				<div class="col-md-5 control-label" style="text-align: left;">
					<label th:text="${user.name}"></label>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-2 control-label">
					<label>旧密码</label>
				</div>
				<div class="col-md-5">
					<input th:field="*{oldPassword}" type="password" class="form-control" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-2 control-label">
					<label>新密码</label>
				</div>
				<div class="col-md-5">
					<input th:field="*{newPassword}" type="password" class="form-control" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-2 control-label">
					<label>确认密码</label>
				</div>
				<div class="col-md-5">
					<input th:field="*{confirmPassword}" type="password"
						class="form-control" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-2 control-label">
					<button class="btn btn-primary" type="submit">修改</button>
				</div>
			</div>

		</form>
	</div>

</body>
</html>