<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/layout">
<head>
<meta charset="UTF-8" />
<title>Users</title>
</head>
<body>

	<div layout:fragment="content">

		<div class="page-header">
			<h2>用户列表</h2>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>EMail</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="user : ${users}">
					<tr>
						<td th:text="${user.id}">...</td>
						<td th:text="${user.name}">...</td>
						<td th:text="${user.email}">...</td>
					</tr>
				</th:block>
			</tbody>
		</table>


		<div class="row">

			<div class="col-sm-10">
				<ul class="pagination">

					<li th:if="${up.isFirst()}" class="disabled"><a href="#"
						aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					<li th:if="${!up.isFirst()}"><a href="/users"
						aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>

					<li th:if="${up.isFirst()}" class="disabled"><a href="#"
						aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
					<li th:if="${!up.isFirst()}"><a
						th:href="@{'/users/' + ${up.currentPageIndex - 1}}"
						aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>

					<th:block
						th:each="i: ${#numbers.sequence(up.startPageIndex, up.endPageIndex)}">
						<li th:if="${up.currentPageIndex == i}" class="active"><a
							th:text="${i}" href="#">0</a></li>
						<li th:unless="${up.currentPageIndex == i}"><a th:text="${i}"
							th:href="@{'/users/'+${i}}">0</a></li>
					</th:block>

					<li th:if="${up.isLast()}" class="disabled"><a href="#"
						aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
					<li th:if="${!up.isLast()}"><a
						th:href="@{'/users/' + ${up.currentPageIndex + 1}}"
						aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>

					<li th:if="${up.isLast()}" class="disabled"><a href="#"
						aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					<li th:if="${!up.isLast()}"><a
						th:href="@{'/users/' + ${up.totalPages}}" aria-label="Next"><span
							aria-hidden="true">&raquo;</span></a></li>

				</ul>
			</div>

			<div class="col-sm-2 text-right">

				<label class="pagination_num"
					th:text="@{'共'+${up.totalPages}+'页，共'+${up.totalElements}+'条'}"></label>

			</div>

		</div>

	</div>

</body>
</html>