<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/layout">
<head>
<meta charset="UTF-8" />
<title>Users</title>
</head>
<body>

	<div layout:fragment="content">

		<table>
			<th:block th:each="user : ${users}">
				<tr>
					<td th:text="${user.name}">...</td>
					<td th:text="${user.id}">...</td>
				</tr>
			</th:block>
		</table>

		<br />

		<table>
			<tbody>
				<tr>
					<td>totalPages</td>
					<td th:text="${users.totalPages}">...</td>
				</tr>
				<tr>
					<td>totalElements</td>
					<td th:text="${users.totalElements}"></td>
				</tr>
				<tr>
					<td>number</td>
					<td th:text="${users.number}"></td>
				</tr>
			</tbody>
		</table>


		<br />


		<nav aria-label="Page navigation">
			<ul class="pagination">

				<li th:if="${!users.hasPrevious()}" class="disabled"><a
					href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				<li th:if="${users.hasPrevious()}"><a
					th:href="@{'/users/' + ${users.number}}" aria-label="Previous"><span
						aria-hidden="true">&laquo;</span></a></li>

				<th:block th:each="i: ${#numbers.sequence(1, users.totalPages)}">
					<li th:if="${users.number == i-1}" class="active"><a
						th:text="${i}" href="#">0</a></li>
					<li th:unless="${users.number == i-1}"><a th:text="${i}"
						th:href="@{'/users/'+${i}}">0</a></li>
				</th:block>
				
				<li th:if="${!users.hasNext()}" class="disabled"><a
					href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
				<li th:if="${users.hasNext()}"><a
					th:href="@{'/users/' + ${users.number + 2}}" aria-label="Next"><span
						aria-hidden="true">&raquo;</span></a></li>
				
			</ul>
		</nav>

	</div>

</body>
</html>