<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/layout">
<head>
<meta charset="UTF-8" />
<title>应用详情</title>
</head>
<body>

	<div layout:fragment="content">

		<div class="page-header">
			<h2>应用详情</h2>
		</div>

		<div class="row">
			<div class="col-md-6">

				<a
					th:href="@{'/config/create/' + ${app.name} + '/' + ${selectEnv} }"
					class="btn btn-default">创建配置</a>

			</div>
			<div class="col-md-6">
				<button class="btn btn-default dropdown-toggle pull-right"
					type="button" data-toggle="dropdown">
					<span th:text="${selectEnv}"></span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					<th:block th:each="env : ${envs}">
						<li><a th:href="'/app/' + ${app.name} + '/' + ${env.name}"
							th:text="${env.name}">...</a></li>
					</th:block>
				</ul>
			</div>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 10%">Id</th>
					<th style="width: 20%">名称</th>
					<th>配置值</th>
					<th style="width: 20%">操作</th>
				</tr>
			</thead>
			<tbody>

				<th:block th:each="config : ${configs}">
					<tr>
						<td th:text="${config.id}"></td>
						<td th:text="${config.name}"></td>
						<td th:text="${config.value}"></td>
						<td>
							<div>
								<a
									th:href="'/config/edit/' + ${app.name} + '/' + ${selectEnv} + '/' + ${config.name}">编辑</a>

								<a data-toggle="modal" href="javascript:void(0);"
									th:data-target="'#configDelModal-' + ${config.id}"> 删除 </a>

								<div class="modal fade" th:id="'configDelModal-' + ${config.id}"
									tabindex="-1" role="dialog">
									<div class="modal-dialog" role="document">
										<div class="modal-content">

											<form
												th:action="'/config/delete/' + ${app.name} + '/' + ${selectEnv} + '/' + ${config.id}"
												method="post">

												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span>&times;</span>
													</button>
													<h5 class="modal-title">删除配置</h5>
												</div>

												<div class="modal-body">
													确定要删除 <strong
														th:text="'应用：' + ${app.name} + ' 环境：' + ${selectEnv} + ' 配置：' + ${config.name}"></strong>？
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">取消</button>
													<button type="submit" class="btn btn-danger">删除</button>
												</div>

											</form>

										</div>
									</div>
								</div>

							</div>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>

		<div class="row">

			<div class="col-md-10">
				<ul class="pagination">

					<li th:if="${configs.isFirst()}" class="disabled"><a href="#"
						aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					<li th:if="${!configs.isFirst()}"><a
						th:href="'/app/' + ${app.name} + '/' + ${selectEnv}"
						aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>

					<li th:if="${configs.isFirst()}" class="disabled"><a href="#"
						aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
					<li th:if="${!configs.isFirst()}"><a
						th:href="@{'/app/' + ${app.name} + '/' + ${selectEnv} + '/' + ${configs.currentPageIndex - 1}}"
						aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>

					<th:block
						th:each="i: ${#numbers.sequence(configs.startPageIndex, configs.endPageIndex)}">
						<li th:if="${configs.currentPageIndex == i}" class="active"><a
							th:text="${i}" href="#">0</a></li>
						<li th:unless="${configs.currentPageIndex == i}"><a
							th:text="${i}"
							th:href="@{'/app/' + ${app.name} + '/' + ${selectEnv} + '/' + ${i}}">0</a></li>
					</th:block>

					<li th:if="${configs.isLast()}" class="disabled"><a href="#"
						aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
					<li th:if="${!configs.isLast()}"><a
						th:href="@{'/app/' + ${app.name} + '/' + ${selectEnv} + '/' + ${configs.currentPageIndex + 1}}"
						aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>

					<li th:if="${configs.isLast()}" class="disabled"><a href="#"
						aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					<li th:if="${!configs.isLast()}"><a
						th:href="@{'/app/' + ${app.name} + '/' + ${selectEnv} + '/' + ${configs.totalPages}}"
						aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>

				</ul>
			</div>

			<div class="col-md-2 text-right">
				<label class="pagination_num"
					th:text="@{'共' + ${configs.totalPages} + '页，共' + ${configs.totalElements} + '条'}"></label>
			</div>

		</div>

	</div>


	</div>

</body>
</html>