<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/layout">
<head>
<meta charset="UTF-8" />
<title>应用详情</title>
</head>
<body>

	<div layout:fragment="content">

		<div class="page-header">
			<h2>应用详情</h2>
		</div>

		<div class="row">
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<button class="btn btn-default dropdown-toggle pull-right"
					type="button" data-toggle="dropdown">
					<span th:text="${selectEnv}"></span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					<th:block th:each="env : ${envs}">
						<li><a th:href="'/app/' + ${app.name} + '/' + ${env.name}" th:text="${env.name}">...</a></li>
					</th:block>
				</ul>
			</div>
		</div>

		<div th:text="${app.name}">.....</div>


	</div>

</body>
</html>